:root {
  --main-bg-color: #333333;
  --card-width-normal: 40vw;
  --card-height-normal: 80vh;
  --card-background-color: #3b4e5a;
  --card-text-color: #ecf0f1;
  --card-shadow: 1px 1px 16px 8px #e57373;
  --card-profile-pic-height: 9rem;
  --card-profile-pic-width: 9rem;
  --card-profile-pic-radius: 50%;
  --main-button-color: #e57373;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.card {
  background-color: var(--card-background-color);
  height: var(--card-height-normal);
  width: var(--card-width-normal);
  color: var(--card-text-color);
  display: grid;
  grid-template-rows: auto 1px auto auto;
  box-shadow: var(--card-shadow);
}

.top.profile {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  position: relative;
}

.profile-pic {
  width: 8rem;
  height: 9rem;
  border-radius: var(--card-profile-pic-radius);
  justify-self: center;
  align-self: center;
  grid-column: 2;
  grid-row: 2;
}

.account-button {
  background-color: var(--main-button-color);
  top: 10%;
  left: 10%;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  & .account-pic {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.account-view {
  background-color: var(--main-button-color);
  top: 60%;
  left: 10%;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  & .eyeball {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.search-button {
  background-color: var(--main-button-color);
  top: 10%;
  right: 10%;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  & .search-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.profile-analytics {
  background-color: var(--main-button-color);
  top: 60%;
  right: 10%;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  & .analytics-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.account-button,
.account-view,
.search-button,
.analytics,
.profile-pic {
  box-shadow: 2px 2px 8px 2px black;
  transition: 0.2s;
}
button {
  box-shadow: 2px 2px 8px 2px black;
  transition: 0.2s;
}

a:hover,
button:hover {
  transform: scale(1.2);
}

.account-button:hover,
.account-view:hover,
.search-button:hover,
.analytics:hover,
.profile-pic:hover {
  transform: scale(1.2);
}

.border {
  width: 80%;
  height: 1px;
  background-color: black;
  display: flex;
  place-self: center;
}

/* Bottom Card */

.middle.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.name {
  text-align: center;
  margin-bottom: 8px;
}

.bio {
  text-align: center;
  margin: 0 2rem 0 2rem;
}

.read-more {
  font-weight: 500;
  font-style: italic;
}

.middle-button-container {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  & button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e57373;
    box-shadow: 1px 1px 8px 1px black;
  }
}

.middle-button-container img {
  height: 1.8rem;
  width: 1.8rem;
}

/* Bottom card */

.footer.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.message img,
.follow img {
  width: 3.5rem;
  height: 3.5rem;
}

.message,
.follow {
  width: 7rem;
  height: 5rem;
  background-color: #e57373;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 8px 1px black;
}

@media screen and (max-width: 700px) {
  .profile-pic {
    width: 6rem;
    height: 7rem;
  }

  .card {
    width: 50vw;
    height: 90vw;
  }
  a:hover,
  button:hover {
    transform: scale(1.075);
  }

  .account-button:hover,
  .account-view:hover,
  .search-button:hover,
  .analytics:hover,
  .profile-pic:hover {
    transform: scale(1.075);
  }
}

@media screen and (max-width: 600px) {
  .message img,
  .follow img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .message,
  .follow {
    width: 5rem;
    height: 3rem;
  }

  .middle-button-container {
    margin-top: 0;
    gap: 2vw;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  height: var(--card-height-normal);
  width: var(--card-width-normal);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.close-modal {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 30vw;
  background-color: var(--main-button-color);
}

.background-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  & .color-change-btn {
    background-color: var(--main-button-color);
    width: 80%;
    height: 2rem;
    align-self: center;
    cursor: pointer;
  }
}

.color-pallet {
  position: absolute;
  top: 100px;
  left: 100px;
}
